$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;
$basic-grey: #f2f2f2;

$special-grey: #cdcdcd;
$special-dark-grey: #444444;

$status-error: #ff8282;

$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;
