.checkbox {
  display: flex;
  align-items: center;

  gap: 15px;
}

.checkbox__label {
  font-size: 16px;
  text-transform: uppercase;

  padding: 11px 0 0 0;

  position: relative;

  min-height: 30px;

  cursor: pointer;
}

.checkbox__input {
  width: 30px;
  height: 30px;

  margin: 0;

  border: 1px solid $special-grey;

  background-color: transparent;

  appearance: none;

  position: relative;

  &:checked::after {
    content: "";
    position: absolute;

    width: 30px;
    height: 30px;

    background-image: url("../../images/icons/stack.svg#checkbox-tick");
    background-repeat: no-repeat;
    background-size: 19px 15px;
    background-position: center;
  }
}
