.crossed-title {
  position: relative;

  background-color: $basic-white;

  z-index: 5;

  &::before {
    content: "";
    position: absolute;

    width: calc(100% + 20px);
    height: 2px;

    background-color: $basic-green;

    top: 15px;
    left: 0;

    z-index: -1;
  }
}

.crossed-title__text {
  position: relative;
  display: inline-block;

  background-color: $basic-white;

  padding-right: 20px;
}

.crossed-title__wrapper {
  max-width: 187px;
  display: block;
}
