.adventages__title {
  margin-bottom: 40px;
}

.adventages__list {
  @include list-style;

  margin-bottom: 53px;
}

.adventages__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  padding: 2px 0 0 80px;
  align-items: center;

  min-height: 54px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &::before {
    content: "";
    position: absolute;

    width: 60px;
    height: 60px;

    left: 0;
    top: 0;

    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--leaf::before {
    background-image: url("../../images/icons/stack.svg#instruction-leaf");
    background-size: 25px 28px;
  }

  &--water::before {
    background-image: url("../../images/icons/stack.svg#instruction-water");
    background-size: 26px 28px;
  }

  &--tableware::before {
    background-image: url("../../images/icons/stack.svg#instruction-tableware");
    background-size: 25px 30px;
  }

  &--clock::before {
    background-image: url("../../images/icons/stack.svg#instruction-clock");
    background-size: 26px 31px;
  }
}

.adventages__description {
  margin: 0;
}
