.hero {
  min-height: 480px;

  text-align: center;

  position: relative;

  &::after {
    content: "";
    position: absolute;

    background-image: url("../../images/index-can-mobile@2x@1x.png");
    background-repeat: no-repeat;
    background-size: 100%;

    left: calc(50% - 140px);
    bottom: 63px;

    width: 280px;
    height: 270px;
  }
}

.hero__wrapper {
  padding: 28px 0 154px;
  margin-bottom: 138px;

  // background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-phone@2x.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;

  min-height: 275px;
  box-sizing: border-box;
  position: relative;
  background-color: $special-green-bg //#62a53b;
}

.hero__wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-image: url("../../images/index-background_mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hero__title {
  color: $basic-white;

  line-height: 36px;

  margin: 0 auto 25px;

  max-width: 250px;

  position: relative;
  z-index: 5;
}

.hero_slogan {
  color: $basic-white;

  line-height: 14px;
  text-transform: uppercase;

  margin: 0 auto;

  max-width: 250px;

  position: relative;
  z-index: 5;
}

.hero__button {
  width: calc(100% - 40px);

  padding: 10px 0;
  margin-bottom: 20px;
}
