.main-header {
  display: flex;

  position: relative;

  padding: 32px 0;

  background-image: url("../../images/logo-text-mobile.svg");
  background-repeat: no-repeat;
  background-size: 101px auto;
  background-position: top 23px center;

  &::after {
    content: "";
    position: absolute;

    width: calc(100% + 44px);
    height: 1px;

    bottom: -1px;
    left: -21px;

    background-color: $special-grey-bg; //#d9d9d9
  }
}

.main-header__logo {
  display: block;

  position: absolute;
  left: 0;
  top: 13px;
}
