.programs__list {
  @include list-style;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.programs__item {
  background-color: $basic-grey;

  padding: 30px 33px 20px 20px;

  position: relative;

  &:last-child {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    position: absolute;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: $basic-green;

    top: 24px;
    left: 20px;
  }

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
  }

  &--slim::after {
    background-image: url("../../images/icons/stack.svg#cat-slim");

    width: 36px;
    height: 50px;

    top: 21px;
    left: 27px;
  }

  &--pro::after {
    background-image: url("../../images/icons/stack.svg#cat-pro");

    width: 67px;
    height: 28px;

    top: 35px;
    left: 13px;
  }
}

.programs__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  margin: 0 0 29px 70px;
}

.programs__description {
  margin: 0;
  padding-bottom: 23px;

  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: calc(100% + 13px);
    height: 1px;

    left: 0;
    bottom: 0;

    background-color: #d9d9d9;
  }
}

.programs__link {
  color: $basic-black;

  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;

  display: inline-block;
  margin-top: 19px;
  padding-right: 47px;

  background-image: url("../../images/icons/stack.svg#icon-arrow");
  background-repeat: no-repeat;
  background-position: center right -2px;
  background-size: 34px auto;
}
