.site-list {
  @include list-style;

  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
}

.site-list__link {
  color: $basic-black;
  text-decoration: none;
}

.site-list__link--current {
  color: $basic-black;
  text-decoration: underline;
}
