.socials {
  @include list-style;
  display: flex;
  flex-wrap: wrap;

  gap: 24px;

  max-width: 132px;
}

.socials__link {
  display: block;

  width: 28px;
  height: 22px;

  /* Поменять background на mask */
  background-repeat: no-repeat;
  background-size: 28px 22px;

  &--vk {
    background-image: url("../../images/icons/stack.svg#social-vkontakte");
  }

  &--telegram {
    background-image: url("../../images/icons/stack.svg#social-telegram");
  }

  &--youtube {
    background-image: url("../../images/icons/stack.svg#social-youtube");
  }
}
